<%= bootstrap_form_for [:admin, @cliente] do |f| %>
  <div class="form-group col-lg-12">
    <%= f.text_field :nome, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.text_field :tema, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.text_field :fone, label: "Telefone" %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.text_field :celular %>
  </div>
  <div class="form-group col-lg-3">
    <%= f.text_field :cep %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.text_field :endereco, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-3">
    <%= f.text_field :numero, label: "Número", maxlength: 10 %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.text_field :complemento, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-4">
    <%= f.text_field :bairro, maxlength: 20 %>
  </div>
  <div class="form-group col-lg-4">
    <%= f.text_field :cidade, maxlength: 60 %>
  </div>
  <div class="form-group col-lg-4">
    <%= f.text_field :estado, maxlength: 40 %>
  </div>
  <div class="form-group col-lg-12">
  <%= f.text_field :email, maxlength: 100 %>
  </div>


  <div class="form-group col-lg-12">
    <%= f.text_area :sobrempresa, class: :wysihtml5,  rows: '6', :data => {:provide => "markdown"}, label: "Sobre a Empresa" %>
  </div>


  <div class="form-group col-lg-12">
    <%= f.text_area :servicos, rows: '3', :data => {:provide => "markdown"}, label: "Serviços" %>
  </div>

  <div class="form-group">
	<%= f.submit 'Salvar', class: "btn btn-primary" %>
  </div>	
<% end %>

<script>
  $( document ).ready(function() {
    $("#cliente_cep").mask("99.999-999")
    $("#cliente_fone").mask("(999) 9999-9999");
    $("#cliente_celular").mask("(999) 9999-9999");
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  });
    
</script>
