<div id="page-wrapper">
	<h1 class="page-header"><%= @cliente.nome %></h1>
  <div class="form-group col-lg-12">
    <strong>Tema:</strong>
    <%= @cliente.tema %>
  </div>
  <div class="form-group col-lg-6">
    <strong>Telefone:</strong>
    <%= @cliente.fone %>
  </div>
  <div class="form-group col-lg-6">
    <strong>Celular:</strong>
    <%= @cliente.celular %>
  </div>
  <div class="form-group col-lg-3">
    <strong>CEP:</strong>
    <%= @cliente.cep %>
  </div>
  <div class="form-group col-lg-6">
    <strong>Endereço:</strong>
    <%= @cliente.endereco %>
  </div>
  <div class="form-group col-lg-3">
    <strong>Número:</strong>
    <%= @cliente.numero %>
  </div>
  <div class="form-group col-lg-12">
    <strong>Complemento:</strong>
    <%= @cliente.complemento %>
  </div>
  <div class="form-group col-lg-4">
    <strong>Bairro:</strong>
    <%= @cliente.bairro %>
  </div>
  <div class="form-group col-lg-8">
    <strong>Email:</strong>
    <%= @cliente.email %>
  </div>
  <div class="form-group col-lg-12">
    <strong>Sobre a Empresa:</strong>
    <%= @cliente.sobrempresa %>
  </div>
  <div class="form-group col-lg-12">
    <strong>Serviços:</strong>
    <%= @cliente.servicos %>
  </div>
  
	<%= link_to 'Editar', edit_admin_cliente_path(@cliente), class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_clientes_path, class: "btn btn-outline btn-default" %>
</div>