<div id="page-wrapper">
	<h1 class="page-header"><%= @itemvidro.item.descricao %></h1>

  <div class="form-group col-lg-12">
    <strong>Vidro:</strong>
    <%= @itemvidro.vidro.descricao %>
  </div>
      <div class="form-group col-lg-12">
        <strong>Quantidade:</strong>
        <%= @itemvidro.quantidade %>
      </div>
	<%= link_to 'Editar', edit_admin_itemvidro_path(@itemvidro), class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_itemvidros_path, class: "btn btn-outline btn-default" %>
</div>