

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to  root_path, class: "navbar-brand" do %>
                <%=image_tag("letreiro.png", alt: "", class: "img-responsive")%>
            <% end %>
            <!--<a class="navbar-brand" href="#page-top">Alumaster</a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                  <%= link_to 'Projetos', portfolios_path %>
                    <!--<a href="#portfolio">Projetos</a>-->
                </li>
                <li class="page-scroll">
                    <a href="#about">Sobre a Empresa</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contato</a>
                </li>
                <!-- <li class="page-scroll">
                  <%#= link_to 'Sign in', admin_root_path %> 
                </li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<%= render :partial => 'my_custom_flash', :flash => flash %>
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <%#=image_tag("profile.png", alt: "", class: "img-responsive")%>
                 <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                  <!--Indicators 
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>-->

                  <!-- Wrapper for slides -->
                   <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <%=image_tag("alumaster.png", alt: "", class: "img-responsive", height: '100px')%>
                      <%#= cl_image_tag("sample.jpg", :alt => "Sample Image", class: "img-responsive") %>
                      <div class="carousel-caption">
                      </div>
                    </div>
                    <div class="item">
                      <div class="intro-text bemvindo">
                        <span class="skills">Bem Vindo</span>
                      </div>
                      <div class="carousel-caption">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="intro-text">
                    <span class="name"><%= @cliente.nome %></span>
                    <!--hr class="star-light"-->
                    <span class="skills"><%= @cliente.tema %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projetos</h2>
            </div>
        </div>
        <div class="row">
            <% @portfolios.each do |portfolio| %>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to [portfolio], class: "portfolio-link" do %>
                    <!--<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">-->
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <input type="hidden" name=<%= @photo = Photo.where("portfolio_id" => portfolio.id).first %>></input>
                        <%= image_tag( @photo.picture.standard.url, alt: "", class: "img-responsive", height: '100%', width: '100%') %>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre a empresa</h2>
                <!--hr class="star-light"-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p><%= @cliente.sobrempresa %></p>
            </div>
            <!--div class="col-sm-4">
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </div-->
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contato</h2>
                <!--hr class="star-primary"-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                


                <%# flash.each do |name, msg| %>
                  <% if flash[:notices] %>
                    <div class="alert alert-success<%#= name == 'notice' ? 'success' : 'danger' %>">
                      <a href="#contact" class="close">
                        <i class="fa fa-lw fa-check<%#= name == 'notice' ? 'fa-check' : 'fa-close' %>"></i>
                      </a>
                        <%= flash[:notices].join("<br />").html_safe %>
                    </div>
                  <% end %>
                <%# end %>

                
                <% if @contato.errors.any? %>
                    <div id="error_explanation" class="alert alert-danger" role="alert">

                      <!--<h2><%= pluralize(@contato.errors.count, "error") %> prohibited this msg from being saved:</h2>-->

                      <ul>
                        <% @contato.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>

                <%= simple_form_for @contato, url: contato_path, method: :post do |f| %>
                <!-- <form name="sentMessage" id="contactForm" novalidate>-->
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nome</label>

                            <%= f.text_field :name, maxlength: 100, :class => "form-control",  :placeholder => "Nome",  :id => "name", :required => true %>
                            <!--<input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Por favor digite seu nome.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>

                            <%= f.text_field :email, maxlength: 100, type:'email', :class => "form-control",  :placeholder => "Email",  :id => "email", :required => true %>
                            <!--<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Por favor digite seu email.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Telefone</label>
                            <%= f.text_field :phone, maxlength: 100, type:'tel', :class => "form-control",  :placeholder => "Telefone",  :id => "phone", :required => true %>

                            <!--<input type="tel" class="form-control" placeholder="Telefone" id="phone" required data-validation-required-message="Por favor digite seu telefone.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Mensagem</label>
                            <%= f.text_area :message, maxlength: 100, rows: '5', :class => "form-control",  :placeholder => "Mensagem",  :id => "message", :required => true %>
                            <!--<textarea rows="5" class="form-control" placeholder="Mensagem" id="message" required data-validation-required-message="Por favor digite sua mensagem."></textarea>-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <%= f.button :submit, 'Enviar', :class=> "btn btn-success btn-lg" %>
                            <!--<button type="submit" class="btn btn-success btn-lg">Enviar</button>-->
                        </div>
                    </div>
                <% end %>
                <!--</form>-->
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    

    function scrollContact() {
        $('html, body').animate({scrollTop: $('#contact').position().top},1000);
    }

    $(document).ready(function () {
        if (<%= @flagContact %>) {
            scrollContact();
        }
    });
</script>