<%= bootstrap_form_for [:admin, @itemperfil] do |f| %>
  <div class="form-group col-lg-12">
    <%= f.select :item_id, Item.pluck(:descricao, :id), { include_blank: false } %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.select :perfil_id, Perfil.pluck(:descricao, :id), { include_blank: false } %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.text_field :quantidade, maxlength: 100 %>
  </div>
  <div class="form-group">
	 <%= f.submit 'Salvar', class: "btn btn-primary" %>
  </div>	
<% end %>