<%= bootstrap_form_for [:admin, @vendedor] do |f| %>
  <div class="radio-inline">
    <%= f.check_box :ativo %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.text_field :nome, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.text_field :celular %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.text_field :endereco, maxlength: 100 %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.text_field :email, maxlength: 100 %>
  </div>
  <div class="form-group">
	 <%= f.submit 'Salvar', class: "btn btn-primary" %>
  </div>	
<% end %>

<script type="text/javascript">

  $( document ).ready(function() {
    $("#vendedor_celular").mask("(999) 9999-9999");
  });
    
</script>