<div id="page-wrapper">
	<h1 class="page-header"><%= @vendedor.nome %></h1>
  <div class="form-group col-lg-6">
    <strong>Celular:</strong>
    <%= @vendedor.celular %>
  </div>
  <div class="form-group col-lg-6">
    <strong>Endereço:</strong>
    <%= @vendedor.endereco %>
  </div>
  <div class="form-group col-lg-12">
    <strong>Email:</strong>
    <%= @vendedor.email %>
  </div>
  

	<%= link_to 'Editar', edit_admin_vendedor_path(@vendedor), class: "btn btn-outline btn-default" %>
	<%= link_to 'Voltar', admin_vendedors_path, class: "btn btn-outline btn-default" %>
</div>